* {
margin : 0;
padding : 0;
box-sizing : border-box;
}

html, body {
height : 100%;
width: 100%;
}

.links{
    display: '';
}
#menu{
    display: none;
}

#sociallinks a{
    transition: all 0.3s ease-out;
}

#sociallinks a:hover{
    color: #238dc6;
    transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1022px) {
    #sociallinks{
        display: none;
    }
    #menu{
        display: block;
    }
}